<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <% if (locals.secrets) { %>
        <% secrets.forEach(sec => { %>
          <p class="secret-text">
            <%= sec.secret %>
          </p>

        <%}) %>
        <div class="pagination">
          <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/secrets?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
          <% } %>
        </div>
          <% } else {;%>
          <p class="secret-text">
            <%= nosecret %>
          </p>
        <% } %>

        

      <hr>

      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

  <%- include('partials/footer') %>